body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td,
span img {
    padding: 0;
    margin: 0;
}

.bg {
    font-family:"微软雅黑";
    background: #f3f4f5;
}

.fl {
    float:left;
}

.fr {
    float: right;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

.content_rt {
    width:85%;
    background: #f3f4f5;
}