.content_rt .r_position {
    background: #e5e5e5;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
    text-align:center;
    padding-left:100px;
    padding-right:100px;
}
.content_rt .r_position .iconfont {
    font-size:20px;
}
.content_rt .r_message .m_list{
    height:99px;
    float:left;
    margin-left:1%;
    margin-top:20px;
}
.content_rt .r_message .m_1{
    width:22%;
    background:#27a9e3;
}
.content_rt .r_message .m_2{
    width:16%;
    background:#28b779;
}
.content_rt .r_message .m_3{
    width:17%;
    background:#ffb848;
}
.content_rt .r_message .m_4{
    width:21%;
    background:#cc6a6a;
}
.content_rt .r_message .m_5{
    width:18%;
    background:#2255a4;
}
.content_rt .r_message .m_list:hover{
    background:#2f3437;
}
.content_rt .r_message .m_list i{
    width:44px;
    height:46px;
    display:block;
    float:left;
    background:url("../images/ht_icon.png")no-repeat;
    margin:25px 10px 0 30px;
}
.content_rt .r_message .m_list .l_info{
    color:#FFF;
    margin-top:25px;
}
.content_rt .r_message .m_list .l_info span{
    text-align:center;
    font-size:24px;
}
.content_rt .r_message .m_list .l_info p{
    font-size:14px;
}
.content_rt .r_message .m_1 i{
    background-position:-190px -76px;
    height:55px;
}
.content_rt .r_message .m_2 i{
    background-position:-46px -76px;
}
.content_rt .r_message .m_3 i{
    background-position:0 -76px;
}
.content_rt .r_message .m_4 i{
    background-position:-46px -76px;
}
.content_rt .r_message .m_5 i{
    background-position:-190px -76px;
    height:55px;
}

/*通知栏*/
.message_info {
    width:98%;
    margin:20px 0 0 1%;
    height:400px;
    box-shadow: 0 -15px 30px #ffffff;
    border-radius: 5px;
    border: 1px solid rgba(40, 40, 40, 0.4);
    text-indent:30px;
}
.message_info p{
    color: #000000;
    letter-spacing:1px;
    line-height:30px;
}